body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fafafa;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    background-color: #333;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

h1 {
    color: blue
}